#vanta-fog {
  min-height: 100vh;
  background-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: "Epilogue", sans-serif;
  color: white;
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

img {
  margin: 10px;
}

.showcase-display {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.portrait {
  max-width: 60%;
  width: 25em;
  border-radius: 50%;
  border: 2px solid white;
}

.top-name {
  text-align: center;
}

.bottom-icons {
  padding-left: 5em;
  padding-right: 5em;
  display: flex;
  flex-direction: column;
}

.link-icon {
  width: auto;
  max-height: 110px;
  min-height: 70px;
  height: 14vh;
}

@media (max-aspect-ratio: 1/1) {
  .showcase-display {
    flex-direction: column;
  }

  .bottom-icons {
    padding-top: 2em;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: auto auto;
  }
}
